<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jq.dao.ApplyMaintainMapper">
  <resultMap id="BaseResultMap" type="com.jq.pojo.ApplyMaintain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="applicant_name" jdbcType="VARCHAR" property="applicant_name" />
    <result column="apply_date" jdbcType="DATE" property="apply_date" />
    <result column="maintain_type" jdbcType="VARCHAR" property="maintain_type" />
    <result column="maintain_description" jdbcType="VARCHAR" property="maintain_description" />
    <result column="user_phone" jdbcType="VARCHAR" property="user_phone" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="detailed_location" jdbcType="VARCHAR" property="detailed_location" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, applicant_name, apply_date, maintain_type, maintain_description, user_phone, 
    location, detailed_location, leader, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply_maintain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply_maintain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jq.pojo.ApplyMaintain">
    insert into apply_maintain (id, applicant_name, apply_date, 
      maintain_type, maintain_description, user_phone, 
      location, detailed_location, leader, 
      status)
    values (#{id,jdbcType=INTEGER}, #{applicant_name,jdbcType=VARCHAR}, #{apply_date,jdbcType=DATE}, 
      #{maintain_type,jdbcType=VARCHAR}, #{maintain_description,jdbcType=VARCHAR}, #{user_phone,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{detailed_location,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jq.pojo.ApplyMaintain">
    insert into apply_maintain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applicant_name != null">
        applicant_name,
      </if>
      <if test="apply_date != null">
        apply_date,
      </if>
      <if test="maintain_type != null">
        maintain_type,
      </if>
      <if test="maintain_description != null">
        maintain_description,
      </if>
      <if test="user_phone != null">
        user_phone,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="detailed_location != null">
        detailed_location,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicant_name != null">
        #{applicant_name,jdbcType=VARCHAR},
      </if>
      <if test="apply_date != null">
        #{apply_date,jdbcType=DATE},
      </if>
      <if test="maintain_type != null">
        #{maintain_type,jdbcType=VARCHAR},
      </if>
      <if test="maintain_description != null">
        #{maintain_description,jdbcType=VARCHAR},
      </if>
      <if test="user_phone != null">
        #{user_phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="detailed_location != null">
        #{detailed_location,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jq.pojo.ApplyMaintain">
    update apply_maintain
    <set>
      <if test="applicant_name != null">
        applicant_name = #{applicant_name,jdbcType=VARCHAR},
      </if>
      <if test="apply_date != null">
        apply_date = #{apply_date,jdbcType=DATE},
      </if>
      <if test="maintain_type != null">
        maintain_type = #{maintain_type,jdbcType=VARCHAR},
      </if>
      <if test="maintain_description != null">
        maintain_description = #{maintain_description,jdbcType=VARCHAR},
      </if>
      <if test="user_phone != null">
        user_phone = #{user_phone,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="detailed_location != null">
        detailed_location = #{detailed_location,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jq.pojo.ApplyMaintain">
    update apply_maintain
    set applicant_name = #{applicant_name,jdbcType=VARCHAR},
      apply_date = #{apply_date,jdbcType=DATE},
      maintain_type = #{maintain_type,jdbcType=VARCHAR},
      maintain_description = #{maintain_description,jdbcType=VARCHAR},
      user_phone = #{user_phone,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      detailed_location = #{detailed_location,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>